In [4]:
# Display the two string 
the output.
str1 = "Hello"
str2 = input ("Enter your name: ") 
print (str1 , str2)

Enter your name:  Zara

Hello Zara

In [14]:
#Display the concatenated string 
str3 = "welcome to Python programming"
concat = str1 +" "+ str2+", " + str3
print(concat)

Hello Zara, welcome to Python programming

In [17]:
#1.Print the first character of the string.
print(" first character of the string:", concat[0])

 first character of the string: H

In [18]:
#2.Print the last character of the string.
print(" last character of the string:", concat[-1])

 last character of the string: g

In [24]:
#3.Print the first 5 characters of the string.
print(" first five character of the string :", concat[0:5])

 first five character of the string: Hello

In [31]:
#Print the last 11 characters of the string.
print("the last 11 characters of the string:",concat[-11:])

the last 11 characters of the string: programming

In [33]:
#Print the string in reverse.
print("the string in reverse order :",concat[::-1])

the string in reverse order : gnimmargorp nohtyP ot emoclew ,araZ olleH

In [37]:
#Use slicing and print the word “Python” from the existing string.
print("the word “Python” from the existing string:",concat[23:-12])

the word “Python” from the existing string: Python

In [2]:
#the sentence to uppercase.
strM = "Python beginner tutorial"
print(f"the sentence to uppercase:", strM.upper())

the sentence to uppercase: PYTHON BEGINNER TUTORIAL

In [46]:
#the sentence to lowercase.
print(f"the sentence to lowercase:", strM.lower())

the sentence to lowercase: python beginner tutorial

In [3]:
#Use Capitalize and return the sentence to the original input form.
print(f"the Capitalize sentence:",strM.title())

 The Capitalize sentence: Python Beginner Tutorial

In [5]:
#Count the total number of occurrences of character ‘t’ in the string.
print(f"Counting the string't'is: ", strM.count('t'))

Counting the string't'is:  3

In [6]:
#Replace all occurrences of “Python” with “Machine Learning” in the input string
print(f"Replace the python to Machine learning: ", strM.replace("Python", "Machine learning"))

Replace the python to Machine learning:  Machine learning beginner tutorial

In [8]:
#tuple
#Concatenate the two tuples 
tup1 = (10,20,30)
tup2 = (40,50,60)
t_combine = tup1 + tup2 
print(f"Concat the two tuple: ",t_combine)

Concat the two tuple:  (10, 20, 30, 40, 50, 60)

In [9]:
#Repeat the elements of “t_combine” 3 times
print(f"Repeat the elements for 3 times: ",t_combine*3)

Repeat the elements for 3 times:  (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [11]:
#Access the 3rd element
print(f"Access the 3rd element: ",t_combine[3])

Access the 3rd element:  40

In [13]:
#Access the first three elements
print(f"Access the first three elements: ",t_combine[0:3])

Access the first three elements:  (10, 20, 30)

In [18]:
#Access the last three elements
print(f"Access the last three elements: ",t_combine[-3:])

Access the last three elements:  (40, 50, 60)